.chatingContainer {
    width: 600px;
    height : 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }
  
  .chatingInput {
    width : 400px;
    padding: 15px 20px; /* 내부 여백 */
    font-size: 16px; /* 텍스트 크기 */
    border: 2px solid #007BFF; /* 테두리 색상 */
    border-radius: 25px; /* 모서리 둥글게 */
    outline: none; /* 포커스 시 기본 테두리 제거 */
    transition: border-color 0.3s ease; /* 테두리 색상 변화에 애니메이션 효과 */
    margin-right: 10px; /* 버튼과 간격 추가 */
  }
  .chatLog {
    position : absolute;
    width: 410px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    overflow-y: auto;
    max-height: 300px; /* 원하는 최대 높이 설정 */
    margin-bottom: 10px;
    z-index:1;
    bottom : 0;
    margin-right : 150px;
    margin-bottom: 75px;
    height : 200px;
  }
  
  .chatMessage {
    margin-bottom: 5px;
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 10px;
    max-width: 80%; /* 메시지 최대 너비 설정 */
    word-wrap: break-word; /* 단어 줄바꿈 */
  }
  
  /* 메시지 배치 스타일 */
  .chatMessage:nth-child(odd) {
    align-self: flex-start;
    background-color: #d0f0c0;
  }
  
  .chatMessage:nth-child(even) {
    align-self: flex-end;
    background-color: #f0d0c0;
  }
  .chatingInput:focus {
    border-color: #339CFF; /* 포커스 시 테두리 색상 변경 */
  }
  
  .sendButton {
    width: 50px;
    height: 50px;
    background-color: #4CAF50;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;

    margin: 20px;


    
}
  
  .sendButton:hover {
    background-color: #45a049;
  }
  
  .sendButton:active {
    background-color: #3e8e41;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
  }
  .sendIcon {
    width: 0;
    height: 0;
    font-size : 25px;
    margin-left : -28px;
    margin-bottom :px;
    transform: rotate(-60deg);
  }
  .ChatingDetails{
    
    width: 50px;
    height: 50px;
    background-color: #3399FF;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position :relative;

    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  }

  .chatingDetails:hover {
    background-color: #66b2ff;
  }


