.chatingContainer {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .chatingInput {
    flex: 1;
    padding: 15px 20px; /* 내부 여백 */
    font-size: 16px; /* 텍스트 크기 */
    border: 2px solid #007BFF; /* 테두리 색상 */
    border-radius: 25px; /* 모서리 둥글게 */
    outline: none; /* 포커스 시 기본 테두리 제거 */
    transition: border-color 0.3s ease; /* 테두리 색상 변화에 애니메이션 효과 */
    margin-right: 10px; /* 버튼과 간격 추가 */
  }
  
  .chatingInput:focus {
    border-color: #339CFF; /* 포커스 시 테두리 색상 변경 */
  }
  
  .sendButton {
    width: 50px;
    height: 50px;
    background-color: #4CAF50;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;

    
    position :relative;
    right : -400px;
    top : -50px;
    
}
  
  .sendButton:hover {
    background-color: #45a049;
  }
  
  .sendButton:active {
    background-color: #3e8e41;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
  }
  .sendIcon {
    width: 0;
    height: 0;
    font-size : 25px;
    margin-left : -28px;
    margin-bottom :px;
    transform: rotate(-60deg);
  }
  .ChatingDetails{
    
    width: 50px;
    height: 50px;
    background-color: #3399FF;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position :relative;
    right : -4px;

    top : -100px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  }

  .chatingDetails:hover {
    background-color: #66b2ff;
  }


