@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal {
    background-color:#F5FFFA;/* Mint Cream */
    width: 700px;
    height: 600px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 0.5s ease-in-out;
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;

    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
  }
  
  .regionName,
  .fishImage,
  .fishName,
  .separator,
  .restaurantTitle,
  .restaurantName,
  .restaurantAddress,
  .restaurantButton {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
  }
  
  .regionName {
    animation-delay: 0.5s;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .fishImage {
    animation-delay: 1s;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .fishName {
    animation-delay: 1.5s;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .separator {
    animation-delay: 2s;
    width: 100%;
    border: none;
    border-top: 1px solid #ddd;
    margin: 10px 0;
  }
  
  .restaurantTitle {
    animation-delay: 2.5s;
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .restaurantName {
    animation-delay: 3s;
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .restaurantAddress {
    animation-delay: 3.5s;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .restaurantButton {
    animation-delay: 4s;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .restaurantButton:hover {
    background-color: #0056b3;
  }